In [8]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\conto\appdata\local\python\pythoncore-3.14-64\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\conto\appdata\local\python\pythoncore-3.14-64\lib\site-packages (2.0.47)
Requirement already satisfied: greenlet>=1 in c:\users\conto\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from sqlalchemy) (3.3.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\conto\appdata\local\python\pythoncore-3.14-64\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#CONNECT THE DWH

In [9]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://postgres:123@localhost:5432/etl_workshop"
)

connection = engine.connect()

print("Conexión exitosa")

Conexión exitosa

In [10]:
import pandas as pd

test = pd.read_sql("SELECT version();", engine)
test

                                             version
0  PostgreSQL 18.2 on x86_64-windows, compiled by...

In [ ]:
#STEP 1 — EXTRACT

In [11]:
import pandas as pd

df = pd.read_csv("candidates.csv")

print(df.shape)
df.head()

(50000, 10)

,First Name,Last Name,Email,Country,Application Date,Yoe,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Greg,Brown,garciamelissa@example.org,Ecuador,2021-07-07,5,Senior,SQL,6.9,7.9
1,Angelica,Buchanan,robincarroll@example.com,Colombia,2024-12-26,1,Mid,Java,7.1,6.7
2,Janet,Watson,hmiles@example.org,Ecuador,2024-11-16,5,Senior,Data Engineering,8.1,2.3
3,Alexandra,Rubio,andrew72@example.org,Colombia,2023-01-11,12,Mid,JavaScript,3.5,2.7
4,Kevin,Kelly,vgolden@example.com,Mexico,2022-05-17,13,Senior,Data Engineering,2.1,4.6

In [ ]:
#STEP 2 — TRANSFORM

In [ ]:
# 2.1 Convert date

In [12]:
df["Application Date"] = pd.to_datetime(df["Application Date"])

In [ ]:
#2.2 Business Rule (HIRED)

In [13]:
df["hired"] = (
    (df["Code Challenge Score"] >= 7) &
    (df["Technical Interview Score"] >= 7)
).astype(int)

In [14]:
df["hired"].value_counts()

hired
0    45507
1     4493
Name: count, dtype: int64

In [ ]:
#2.3 Create dimensions

In [15]:
dim_candidate = df[["First Name","Last Name","Email"]].drop_duplicates().reset_index(drop=True)
dim_candidate["id_candidate"] = dim_candidate.index + 1

In [16]:
dim_country = df[["Country"]].drop_duplicates().reset_index(drop=True)
dim_country["id_country"] = dim_country.index + 1

In [17]:
dim_technology = df[["Technology"]].drop_duplicates().reset_index(drop=True)
dim_technology["id_technology"] = dim_technology.index + 1

In [18]:
dim_seniority = df[["Seniority"]].drop_duplicates().reset_index(drop=True)
dim_seniority["id_seniority"] = dim_seniority.index + 1

In [19]:
dim_date = df[["Application Date"]].drop_duplicates().reset_index(drop=True)

dim_date["year"] = dim_date["Application Date"].dt.year
dim_date["month"] = dim_date["Application Date"].dt.month
dim_date["quarter"] = dim_date["Application Date"].dt.quarter

dim_date["id_date"] = dim_date.index + 1

In [ ]:
#STEP 3 — Build FACT TABLE

In [20]:
fact = df.merge(dim_candidate, on=["First Name","Last Name","Email"])
fact = fact.merge(dim_country, on="Country")
fact = fact.merge(dim_technology, on="Technology")
fact = fact.merge(dim_seniority, on="Seniority")
fact = fact.merge(dim_date, on="Application Date")

In [21]:
fact_final = fact[[
    "id_candidate",
    "id_country",
    "id_technology",
    "id_seniority",
    "id_date",
    "Yoe",
    "Code Challenge Score",
    "Technical Interview Score",
    "hired"
]]

In [22]:
fact_final.columns = [
    "id_candidate",
    "id_country",
    "id_technology",
    "id_seniority",
    "id_date",
    "yoe",
    "code_challenge_score",
    "technical_interview_score",
    "hired"
]

In [ ]:
#WE RENAMED THE COLUMNS TO MATCH EXACTLY WITH

In [25]:
dim_candidate.columns = [
    "first_name",
    "last_name",
    "email",
    "id_candidate"
]

In [26]:
dim_country.columns = [
    "country",
    "id_country"
]

In [27]:
dim_technology.columns = [
    "technology",
    "id_technology"
]

In [28]:
dim_seniority.columns = [
    "seniority",
    "id_seniority"
]

In [29]:
dim_date.columns = [
    "application_date",
    "year",
    "month",
    "quarter",
    "id_date"
]

In [ ]:
#Load dimensions first

In [30]:
dim_candidate.to_sql("dim_candidate", engine, if_exists="append", index=False)
dim_country.to_sql("dim_country", engine, if_exists="append", index=False)
dim_technology.to_sql("dim_technology", engine, if_exists="append", index=False)
dim_seniority.to_sql("dim_seniority", engine, if_exists="append", index=False)
dim_date.to_sql("dim_date", engine, if_exists="append", index=False)

826

In [ ]:
#Then upload the invoice

In [31]:
fact_final.to_sql("fact_applications", engine, if_exists="append", index=False)

1000